* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 120px;
    height: auto;
    text-decoration: none;
}

nav {
    position: relative;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-select {
    display: none; /* Oculta o select em telas maiores */
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    
}


.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/fundo.png') no-repeat center center/cover;
    background-size: cover;
    filter: blur(8px);
    z-index: 1;
}

.hero h2,
.hero p,
.cta {
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 3rem;
    color: #333;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #333;
}

.cta {
    background-color: #ff5733;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.produtos {
    padding: 2rem 1rem;
    background-color: #fff;
    text-align: center;
}

.produto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    flex-basis: 30%;
    margin: 1rem 0;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h3 {
    margin-top: 10px;
}

.produto .bola::before {
  content: "•"; /* A bolinha como marcador */
  color: #333; /* Cor da bolinha */
  font-size: 1.2em; /* Tamanho da bolinha */
  margin-right: 8px; /* Espaço entre a bolinha e o texto */
  display: inline-block; /* Para garantir o alinhamento correto */
  vertical-align: middle; /* Centraliza a bolinha com o texto */
}
/* ----------------------- */


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* ----------------------- */
.contato {
    padding: 2rem 1rem;
    background-color: #eee;
    text-align: center;
}

.contato-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contato form {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contato form input,
.contato form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* .contato form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* .contato form button:hover {
    background-color: #ff5733;
} */

/* .social-links {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.social-links a:hover {
    color: #ff5733;
}

.social-links i {
    margin-right: 10px;
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.nav-container {
    display: flex;
}

@media (max-width: 768px) {
    .produto-container {
        flex-direction: column;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 200px;
    }

    .nav-links li {
        margin: 0;
        padding: 10px;
        border-top: 1px solid #444;
    }

    .nav-links li:first-child {
        border-top: none;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-select {
        display: block; /* Exibe o select em telas menores */
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
    }

    .contato-container {
        flex-direction: column;
    }

    .contato form, .social-links {
        flex-basis: 100%;
    }

    .sobre-content {
        flex-direction: column; /* Coloca a imagem acima do texto */
    }
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 20px 25px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 3s ease;
}

#back-to-top:hover {
    background-color: #ff3500;
}

.show {
    display: block !important; 
}

.sobre {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #eee;
}

.sobre-content {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    flex-direction: column; /* Alinha o conteúdo em coluna em telas menores */
    text-align: center; /* Centraliza o texto */
    
}

/* .hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
} */
/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/fundo.png') no-repeat center center/cover;
    background-size: cover;
    filter: blur(8px);
    z-index: 1;
} */

.sobre-imagem {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
    height: auto; /* Mantém a proporção da imagem */
    margin: 20px 0; /* Espaço em cima e embaixo da imagem */
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* facebook*/
  .containerTwo:hover {
    background-color: #00abeef1;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


 
  /*---- NUMBER OF SLIDE CONFIGURATION ----*/
  .wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative;
  }
  
  input {
    display: none;
  }
  
  .inner {
    width: 500%;
    line-height: 0;
  }
  
  article {
    width: 20%;
    float: left;
    position: relative;
  }
  article img {
    width: 100%;
  }
  
  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
  }
  .slider-prev-next-control label:hover {
    opacity: 1;
  }
  
  .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
  }
  
  /* Info Box */
  .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
  }
  .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
  }
  .info.top-left {
    top: 30px;
    left: 30px;
  }
  .info.top-right {
    top: 30px;
    right: 30px;
  }
  .info.bottom-left {
    bottom: 30px;
    left: 30px;
  }
  .info.bottom-right {
    bottom: 30px;
    right: 30px;
  }
  
  /* Slider Styling */
  .slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  /*---- SET POSITION FOR SLIDE ----*/
  #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
  }
  
  #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
    content: "";
    padding-left: 15px;
  }
  
  #slide5:checked ~ .slider-prev-next-control label:nth-child(1), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide1:checked ~ .slider-prev-next-control label:nth-child(2) {
    display: block;
    float: right;
    margin-right: 5px;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: left;
    margin-left: 5px;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "";
    padding-left: 8px;
  }
  
  #slide5:checked ~ .slider-dot-control label:nth-child(5), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide1:checked ~ .slider-dot-control label:nth-child(1) {
    background: #333;
  }
  
  #slide5:checked ~ .slider-wrapper article:nth-child(5) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide1:checked ~ .slider-wrapper article:nth-child(1) .info {
    opacity: 1;
  }
  
  #slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
  }
  #slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
  }
  #slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
  }
  #slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
  }
  #slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
  }
  /*---- TABLET ----*/
  @media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
      border-radius: 0;
    }
  }
  /*---- MOBILE----*/
  @media only screen and (max-width: 450px) {
    .slider-wrapper {
      border-radius: 0;
    }
  
    .slider-wrapper .info {
      opacity: 0;
    }
  }
  @media only screen and (min-width: 850px) {
    body {
      padding: 0 80px;
    }
  }

  @media only screen and (min-width: 850px) {
    body {
        padding: 0; /* Remova ou ajuste para o valor desejado */
    }
}


  